/** @format */

@font-face {
	font-family: pri;
	src: url(Metropolis/Metropolis-Regular.otf);
}
/* font-size: 38px
font-size: 32px
font-size: 24px
font-size: 18px
font-size: 14px */

:root {
	--blue: #234095;
	--yellow: #f2ea1b;
	--black: #18191f;
	--midblack: #474a57;
	--white: #ffffff;
	--midwhite: #fafafa;
	--grey: #efefef;
}
body {
	font-family: pri;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Fira Sans';
	font-size: 2.86em;
	font-weight: 900;
	color: var(--blue);
}
h2 {
	font-family: 'Fira Sans';
	font-size: 2.46em;
	font-weight: 900;
}
h3 {
	font-family: 'Fira Sans';
	font-size: 1.68em;
	font-weight: 700;
}
#logo {
	width: 180px;
}
ul#nav-links {
	display: inline-flex;
	margin-left: auto;
}

li {
	list-style: none;
	margin-left: 2.5rem;
}

li a {
	color: var(--midblack);
}

nav > .container {
	display: flex;
	align-items: center;
	padding: 0 2.5rem;
	height: 6.25rem;
	margin-bottom: 1rem;
}
nav {
	background-color: #fff;
	/* box-shadow: 0px 4px 8px rgba(218, 217, 212, 0.2); */
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 9999;
}
.container {
	width: 86%;
	margin: 0 auto;
	max-width: 1440px;
}

#blob1 {
	top: 18rem;
	right: 52%;
	/* yellowmain */
}

#blob2 {
	top: 10rem;
	right: 4rem;
	/* bluemain */
}

#blob3 {
	left: 48%;
}

#blob4 {
	bottom: 5rem;
	left: 20%;
}
.blob {
	position: absolute;
	max-width: 100px;
	z-index: -9999;
}
#hero {
	display: flex;
	align-items: center;
	position: relative;
	width: 86%;
	margin: 2% auto;
	/* background-color: red; */
}

#hero .text {
	flex: 0.55;
}

#hero .text h1 {
	margin-bottom: 1.75rem;
	width: 70%;
}

#hero .text p {
	margin-bottom: 3rem;
	width: 70%;
	line-height: 1.6rem;
	color: var(--midblack);
}

#hero .image {
	flex: 0.45;
	display: flex;
	align-items: center;
	justify-content: center;
}
#hero > .image > img {
	/* width: 100%; */
	margin: 0 auto 0 0;
}
#hero .request-btn {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	margin-top: 60px;
	padding: 14px 34px;
	color: var(--midwhite);
	background: var(--blue);
	border: none;
	font-size: 1.125rem;
	border-radius: 8px;
}

#hero .image div {
	display: flex;
	flex-direction: column;
	/* background-color: yellow; */
	height: 240px;
	justify-content: space-around;
}
#hero .image div img {
	width: 36px;
}
#services {
	width: 86%;
	margin: 12% auto;
}
#services h2 {
	color: var(--blue);
}
#services .row {
	display: flex;
	align-items: center;
}

#services .row .col-1,
#services .row .col-2,
#services .row .col-3 {
	flex: 0.3;
}
#services .row .col-2 {
	margin: 0 auto;
}

#services .row-1,
#services .row-2 {
	display: flex;
	margin: 7.5rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#services .col img,
#services .col h3 {
	margin-bottom: 8px;
}

#services .col p {
	margin-bottom: 16px;
	color: var(--midblack);
}
#services a {
	color: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
}
#our-approach {
	background: url(./img/blue-approach.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 12rem 0;
}
#our-approach .col {
	display: flex;
	margin: 0 7%;
}
#our-approach .image img {
	width: 100%;
	object-fit: contain;
	border-radius: 8px;
}
#our-approach .col .image {
	display: flex;
	flex: 0.5;
	align-items: center;
	justify-content: center;
}
#our-approach .col .text {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 2rem;
}
#our-approach .col .text h2 {
	color: var(--white);
	padding: 2rem 0;
}
#our-approach .col .text p {
	color: var(--midwhite);
	line-height: 1.6rem;
}

#our-mission {
	padding: 12rem 0;
}

#our-mission h2 {
	color: var(--blue);
	margin: 2rem 0;
}

#our-mission p {
	color: var(--midblack);
	line-height: 1.6rem;
}

#our-mission .col {
	display: flex;
	margin: 0 7%;
	justify-content: space-between;
}
#our-mission .col .image {
	display: flex;
	flex: 0.5;
	align-items: center;
	justify-content: flex-end;
}
#our-mission .col .text {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
	.bar {
		/* display: block; */
		width: 18px;
		height: 2px;
		border: 0 solid var(--blue);
		border-radius: 2px;
		background-color: var(--blue);
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.menu-toggle:hover {
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		-ms-transform: translateY(8px) rotate(45deg);
		-o-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		-ms-transform: translateY(-8px) rotate(-45deg);
		-o-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}

	nav ul#nav-links {
		display: flex;
		flex-direction: column;
		position: fixed;
		justify-content: start;
		/* background-color: blue; */
		top: 6.25rem;
		right: 0;
		width: 100%;
		height: 100vh;
		transform: translate(150%);
		text-align: center;
		clip-path: circle(1080px at 90% -12%);
		-webkit-clip-path: circle(1080px at 90% -12%);
		transition: all 1s ease-in-out;
		z-index: 1;
		/* overflow: hidden; */
	}

	nav li {
		padding: 15px;
	}

	li {
		margin-left: 0;
	}

	nav li:first-child {
		margin-top: 50px;
	}

	nav li a {
		font-size: 1rem;
	}

	.menu-toggle,
	.bar {
		margin-left: auto;
		display: block;
		cursor: pointer;
	}

	.mobile-nav {
		transform: translate(0%) !important;
	}
	.nav-links {
		position: fixed;
		background: var(--blue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 20%;
		padding-top: 20%;
		/* display: none; */
		clip-path: circle(100px at 90% -12%);
		-webkit-clip-path: circle(100px at 90% -12%);
		transition: all 1s ease-in-out;
		z-index: 1;
	}
	.nav-links.open {
		clip-path: circle(1080px at 90% -12%);
		-webkit-clip-path: circle(1080px at 90% -12%);
	}
	.link-item {
		color: var(--white);
	}
	.line {
		width: 30px;
		height: 3px;
		background: var(--blue);
		margin: 5px;
		border-radius: 15px;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 5%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
}

@media only screen and (max-width: 768px) {
	nav > .container {
		padding: 0;
	}
}

.main1 {
	background-color: var(--midwhite);
	height: 90vh;
}
* {
	/* border: 1px solid red !important; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden !important;
}
header {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	height: 10vh;
	padding: 0 160px;
	background-color: var(--midwhite);
}
nav {
	height: 10vh;
}
.logo {
	width: 10rem;
}
nav {
	width: 100%;
}
.nav-links {
	display: flex;
	list-style: none;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	margin-left: auto;
}
.link-item {
	color: var(--midblack);
	font-family: pri-400;
	text-decoration: none;
}
.sect-one {
	width: 100%;
	padding: 140px 160px;
	display: flex;
	flex-direction: row;
}
.sect-one article {
	/* background-color: yellow; */
	width: 50%;
}
.sect-one h1 {
	font-size: 38px;
	color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	line-height: 52px;
	width: 100%;
	height: 120px;
}
.sect-one h1 span {
	font-size: 52px;
	display: block;
	font-weight: 800;
	width: 100%;
}
.sect-one p {
	margin-top: 12px;
	font-family: Pri-400;
	font-size: 18px;
	line-height: 32px;
	width: 90%;
	color: var(--midblack);
}
.hero-section {
	/* background-color: red; */
	width: 50%;
}
.hero-section img {
	margin-left: 10%;
	margin-top: -140px;
	width: 100%;
}
.social-sect {
	display: flex;
	justify-content: flex-end;
	height: 10vh;
	margin-top: -16vh;
}
.social-sect div {
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	padding: 20px 160px;
	width: 52%;
}
.social-sect div img {
	width: 2.4rem;
	height: 2.4rem;
}

/* second section */
.main2 {
	background: var(--white);
	height: 100vh;
	width: 100vw !important;
}
.main2 h1 {
	font-size: 38px;
	color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	line-height: 52px;
	height: 120px;
	padding: 100px 160px;
	/* background-color: #f2ea1b; */
}
.sect-two,
.sect-two-rmx {
	max-width: 100%;
	padding: 0px 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* background-color: aqua; */
}
.sect-two-mob,
.sect-two-mob-rmx {
	display: none;
}
.sect-two-rmx div:nth-child(1),
.sect-two div:nth-child(1) {
	padding-left: 0px;
}
.sect-two-rmx div:nth-child(3),
.sect-two div:nth-child(3),
.sect-two-rmx div:nth-child(2),
.sect-two div:nth-child(2) {
	padding-right: 0px;
}
.sect-two-rmx {
	margin-top: 20px;
}
.serv-box {
	max-width: 40%;
	padding: 40px 40px;
	width: 400px;
	border-radius: 8px;
}
.serv-box img {
	width: 24px;
	margin-bottom: 6px;
}
.serv-box h3 {
	font-size: 20px;
	color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	width: 150%;
	/* background-color: red; */
}

.serv-pri-text {
	font-size: 16px;
	font-family: Pri-400;
	color: var(--midblack);
	line-height: 24px;
	margin-bottom: 36px;
}
.serv-cta {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-family: Pri-600;
	color: var(--blue);
	line-height: 24px;
}
.main3 {
	width: 100%;
	height: 80vh;
	background: url(./img/blue-approach.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 160px;
	display: flex;
	justify-content: center;
}
.main3 img {
	width: 500px;
	border-radius: 20px;
}
.main3 div {
	margin-left: 4%;
}
.main3 h3 {
	font-size: 38px;
	color: var(--white);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	margin-bottom: 40px;
}
.main3 p {
	font-size: 18px;
	color: var(--grey);
	font-family: Pri-400;
	width: 60%;
	line-height: 24px;
}
/* Large (lg) */
@media (max-width: 1024px) {
	header {
		padding: 0 60px;
	}
	.sect-one {
		padding: 140px 60px;
	}
	.sect-one h1 {
		font-size: 32px;
		/* background-color: blueviolet; */
	}
	.sect-one h1 span {
		font-size: 38px;
		width: 100%;
	}
	.sect-one p {
		font-size: 17.2px;
		line-height: 30px;
	}
	.request-btn {
		padding: 14px 30px;
		font-size: 17.2px;
	}
	.hero-section {
		/* background-color: blueviolet; */
		width: 50%;
		/* top: 20%;
    right: -8%; */
	}
	.hero-section img {
		width: 100%;
	}
	.social-sect {
		/* height: 10vh;
    margin-top: -16vh; */
	}
	.social-sect div {
		/* background-color: red;
    display: flex;
    justify-content: space-between;*/
		padding: 20px 60px;
	}

	/* second section */
	.main2 h1 {
		font-size: 32px;
		/* height: 120px;*/
		padding: 70px 60px;
		/* background-color: #f2ea1b; */
	}
	.sect-two,
	.sect-two-rmx {
		padding: 0px 60px;
	}
	/* .sect-two-rmx {
		margin-top: 20px;
	} */
	.serv-box h3 {
		font-size: 19.6px;
		color: var(--blue);
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-bottom: 10px;
		width: 100%;
		/* background-color: red; */
	}
	.serv-pri-text {
		font-size: 15.2px;
		line-height: 23.6px;
	}
}

/* Medium (md) */
@media (max-width: 768px) {
	header {
		padding: 0 40px;
	}
	.sect-one {
		padding: 140px 40px;
	}
	.sect-one h1 {
		font-size: 30px;
		/* background-color: blueviolet; */
		z-index: 50;
	}
	.sect-one h1 span {
		font-size: 36px;
		width: 100%;
	}
	.sect-one p {
		font-size: 16.8px;
		line-height: 28px;
	}
	.request-btn {
		padding: 14px 30px;
		font-size: 16.8px;
	}
	.hero-section {
		/* background-color: blueviolet; */
		width: 50%;
	}
	.hero-section img {
		width: 120%;
		margin-top: -70px;
		margin-left: -4%;
		z-index: -50;
	}
	.social-sect {
		/* height: 10vh;
    margin-top: -16vh; */
	}
	.social-sect div {
		/* background-color: red;
    display: flex;
    justify-content: space-between;*/
		padding: 20px 60px;
	}

	.main2 h1 {
		font-size: 32px;
		/* height: 120px;*/
		padding: 60px 40px;
		/* background-color: #f2ea1b; */
	}
	.sect-two,
	.sect-two-rmx {
		padding: 0px 40px;
	}
}

/* Medium (md) */
@media (max-width: 640px) {
	/* .... */

	header {
		padding: 0 0px;
	}
	.sect-one {
		padding: 50px 30px;
		flex-direction: column;
	}
	.sect-one article {
		width: 100%;
	}
	.sect-one h1 span {
		font-size: 36px;
		width: 100%;
	}
	.sect-one p {
		font-size: 16.8px;
		line-height: 28px;
		margin-top: 8px;
	}
	.request-btn {
		padding: 14px 30px;
		font-size: 16.8px;
		z-index: 1;
	}
	.hero-section {
		/* background-color: blueviolet; */
		width: 60%;
		margin-left: auto;
	}
	.hero-section img {
		width: 120%;
		margin-top: -160px;
	}
	.social-sect {
		margin-top: -8vh;
		width: 100%;
		justify-content: center;
	}
	.social-sect div {
		padding: 0;
		justify-content: space-between;
		align-items: center;
		width: 60%;
	}
	.sect-two,
	.sect-two-rmx {
		display: none;
	}
	.sect-two-mob,
	.sect-two-mob-rmx {
		display: flex;
		padding: 0;
		padding-left: 40px;
	}
	.serv-box-mob {
		padding: 40px 0px;
		width: 400px;
		border-radius: 8px;
	}
	.serv-box-mob:nth-child(2) {
		padding-left: 40px;
	}
	.serv-box-mob img {
		width: 24px;
		margin-bottom: 6px;
	}
	.serv-box-mob h3 {
		font-size: 20px;
		color: var(--blue);
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-bottom: 10px;
		width: 150%;
		/* background-color: red; */
	}

	.logo-div {
		/* display: none; */
	}
	.nav-links {
		position: fixed;
		background: var(--blue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 20%;
		padding-top: 20%;
		/* display: none; */
		clip-path: circle(100px at 90% -12%);
		-webkit-clip-path: circle(100px at 90% -12%);
		transition: all 1s ease-in-out;
		z-index: 1;
	}
	.nav-links.open {
		clip-path: circle(1080px at 90% -12%);
		-webkit-clip-path: circle(1080px at 90% -12%);
	}
	.link-item {
		color: var(--white);
	}
	.line {
		width: 30px;
		height: 3px;
		background: var(--blue);
		margin: 5px;
		border-radius: 15px;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 5%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
}

/* Small (sm) */
@media (min-width: 640px) {
	/* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
	/* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
	/* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
	/* ... */
}
