/** @format */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');

@font-face {
	font-family: pri-400;
	src: url(Metropolis/Metropolis-Regular.otf);
}
@font-face {
	font-family: pri-600;
	src: url(Metropolis/Metropolis-Medium.otf);
}

/* font-size: 38px
font-size: 32px
font-size: 24px
font-size: 18px
font-size: 14px */

:root {
	--blue: #234095;
	--yellow: #f2ea1b;
	--black: #18191f;
	--midblack: #474a57;
	--white: #ffffff;
	--midwhite: #fafafa;
	--grey: #efefef;
}
.main1 {
	background-color: var(--midwhite);
	height: 90vh;
}
* {
	/* border: 1px solid red !important; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden !important;
}
header {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	height: 10vh;
	padding: 0 160px;
	background-color: var(--midwhite);
}
nav {
	height: 10vh;
}
.logo {
	width: 10rem;
}
nav {
	width: 100%;
}
.nav-links {
	display: flex;
	list-style: none;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	margin-left: auto;
}
.link-item {
	color: var(--midblack);
	font-family: pri-400;
	text-decoration: none;
}
.sect-one {
	width: 100%;
	padding: 140px 160px;
	display: flex;
	flex-direction: row;
}
.sect-one article {
	/* background-color: yellow; */
	width: 50%;
}
.sect-one h1 {
	font-size: 38px;
	color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	line-height: 52px;
	width: 100%;
	height: 120px;
}
.sect-one h1 span {
	font-size: 52px;
	display: block;
	font-weight: 800;
	width: 100%;
}
.sect-one p {
	margin-top: 12px;
	font-family: Pri-400;
	font-size: 18px;
	line-height: 32px;
	width: 90%;
	color: var(--midblack);
}
.request-btn {
	margin-top: 80px;
	padding: 16px 32px;
	color: var(--midwhite);
	background: var(--blue);
	border: none;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 8px;
}
.hero-section {
	/* background-color: red; */
	width: 50%;
}
.hero-section img {
	margin-left: 10%;
	margin-top: -140px;
	width: 100%;
}
.social-sect {
	display: flex;
	justify-content: flex-end;
	height: 10vh;
	margin-top: -16vh;
}
.social-sect div {
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	padding: 20px 160px;
	width: 52%;
}
.social-sect div img {
	width: 2.4rem;
	height: 2.4rem;
}

/* second section */
.main2 {
	background: var(--white);
	height: 100vh;
	width: 100vw !important;
}
.main2 h1 {
	font-size: 38px;
	color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	line-height: 52px;
	height: 120px;
	padding: 100px 160px;
	/* background-color: #f2ea1b; */
}
.sect-two,
.sect-two-rmx {
	max-width: 100%;
	padding: 0px 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* background-color: aqua; */
}
.sect-two-mob,
.sect-two-mob-rmx {
	display: none;
}
.sect-two-rmx div:nth-child(1),
.sect-two div:nth-child(1) {
	padding-left: 0px;
}
.sect-two-rmx div:nth-child(3),
.sect-two div:nth-child(3),
.sect-two-rmx div:nth-child(2),
.sect-two div:nth-child(2) {
	padding-right: 0px;
}
.sect-two-rmx {
	margin-top: 20px;
}
.serv-box {
	max-width: 40%;
	padding: 40px 40px;
	width: 400px;
	border-radius: 8px;
}
.serv-box img {
	width: 24px;
	margin-bottom: 6px;
}
.serv-box h3 {
	font-size: 20px;
	color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	width: 150%;
	/* background-color: red; */
}

.serv-pri-text {
	font-size: 16px;
	font-family: Pri-400;
	color: var(--midblack);
	line-height: 24px;
	margin-bottom: 36px;
}
.serv-cta {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-family: Pri-600;
	color: var(--blue);
	line-height: 24px;
}
.main3 {
	width: 100%;
	height: 80vh;
	background: url(./img/blue-approach.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 160px;
	display: flex;
	justify-content: center;
}
.main3 img {
	width: 500px;
	border-radius: 20px;
}
.main3 div {
	margin-left: 4%;
}
.main3 h3 {
	font-size: 38px;
	color: var(--white);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	margin-bottom: 40px;
}
.main3 p {
	font-size: 18px;
	color: var(--grey);
	font-family: Pri-400;
	width: 60%;
	line-height: 24px;
}
/* Large (lg) */
@media (max-width: 1024px) {
	header {
		padding: 0 60px;
	}
	.sect-one {
		padding: 140px 60px;
	}
	.sect-one h1 {
		font-size: 32px;
		/* background-color: blueviolet; */
	}
	.sect-one h1 span {
		font-size: 38px;
		width: 100%;
	}
	.sect-one p {
		font-size: 17.2px;
		line-height: 30px;
	}
	.request-btn {
		padding: 14px 30px;
		font-size: 17.2px;
	}
	.hero-section {
		/* background-color: blueviolet; */
		width: 50%;
		/* top: 20%;
    right: -8%; */
	}
	.hero-section img {
		width: 100%;
	}
	.social-sect {
		/* height: 10vh;
    margin-top: -16vh; */
	}
	.social-sect div {
		/* background-color: red;
    display: flex;
    justify-content: space-between;*/
		padding: 20px 60px;
	}

	/* second section */
	.main2 h1 {
		font-size: 32px;
		/* height: 120px;*/
		padding: 70px 60px;
		/* background-color: #f2ea1b; */
	}
	.sect-two,
	.sect-two-rmx {
		padding: 0px 60px;
	}
	/* .sect-two-rmx {
		margin-top: 20px;
	} */
	.serv-box h3 {
		font-size: 19.6px;
		color: var(--blue);
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-bottom: 10px;
		width: 100%;
		/* background-color: red; */
	}
	.serv-pri-text {
		font-size: 15.2px;
		line-height: 23.6px;
	}
}

/* Medium (md) */
@media (max-width: 768px) {
	header {
		padding: 0 40px;
	}
	.sect-one {
		padding: 140px 40px;
	}
	.sect-one h1 {
		font-size: 30px;
		/* background-color: blueviolet; */
		z-index: 50;
	}
	.sect-one h1 span {
		font-size: 36px;
		width: 100%;
	}
	.sect-one p {
		font-size: 16.8px;
		line-height: 28px;
	}
	.request-btn {
		padding: 14px 30px;
		font-size: 16.8px;
	}
	.hero-section {
		/* background-color: blueviolet; */
		width: 50%;
	}
	.hero-section img {
		width: 120%;
		margin-top: -70px;
		margin-left: -4%;
		z-index: -50;
	}
	.social-sect {
		/* height: 10vh;
    margin-top: -16vh; */
	}
	.social-sect div {
		/* background-color: red;
    display: flex;
    justify-content: space-between;*/
		padding: 20px 60px;
	}

	.main2 h1 {
		font-size: 32px;
		/* height: 120px;*/
		padding: 60px 40px;
		/* background-color: #f2ea1b; */
	}
	.sect-two,
	.sect-two-rmx {
		padding: 0px 40px;
	}
}

/* Medium (md) */
@media (max-width: 640px) {
	/* .... */

	header {
		padding: 0 0px;
	}
	.sect-one {
		padding: 50px 30px;
		flex-direction: column;
	}
	.sect-one article {
		width: 100%;
	}
	.sect-one h1 span {
		font-size: 36px;
		width: 100%;
	}
	.sect-one p {
		font-size: 16.8px;
		line-height: 28px;
		margin-top: 8px;
	}
	.request-btn {
		padding: 14px 30px;
		font-size: 16.8px;
		z-index: 1;
	}
	.hero-section {
		/* background-color: blueviolet; */
		width: 60%;
		margin-left: auto;
	}
	.hero-section img {
		width: 120%;
		margin-top: -160px;
	}
	.social-sect {
		margin-top: -8vh;
		width: 100%;
		justify-content: center;
	}
	.social-sect div {
		padding: 0;
		justify-content: space-between;
		align-items: center;
		width: 60%;
	}
	.sect-two,
	.sect-two-rmx {
		display: none;
	}
	.sect-two-mob,
	.sect-two-mob-rmx {
		display: flex;
		padding: 0;
		padding-left: 40px;
	}
	.serv-box-mob {
		padding: 40px 0px;
		width: 400px;
		border-radius: 8px;
	}
	.serv-box-mob:nth-child(2) {
		padding-left: 40px;
	}
	.serv-box-mob img {
		width: 24px;
		margin-bottom: 6px;
	}
	.serv-box-mob h3 {
		font-size: 20px;
		color: var(--blue);
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-bottom: 10px;
		width: 150%;
		/* background-color: red; */
	}

	.logo-div {
		/* display: none; */
	}
	.nav-links {
		position: fixed;
		background: var(--blue);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 20%;
		padding-top: 20%;
		/* display: none; */
		clip-path: circle(100px at 90% -12%);
		-webkit-clip-path: circle(100px at 90% -12%);
		transition: all 1s ease-in-out;
		z-index: 1;
	}
	.nav-links.open {
		clip-path: circle(1080px at 90% -12%);
		-webkit-clip-path: circle(1080px at 90% -12%);
	}
	.link-item {
		color: var(--white);
	}
	.line {
		width: 30px;
		height: 3px;
		background: var(--blue);
		margin: 5px;
		border-radius: 15px;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 5%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
}

/* Small (sm) */
@media (min-width: 640px) {
	/* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
	/* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
	/* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
	/* ... */
}
