@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap");

@font-face {
  font-family: metropolis-400;
  src: url(Metropolis/Metropolis-Regular.otf);
}
@font-face {
  font-family: metropolis-600;
  src: url(Metropolis/Metropolis-Medium.otf);
}
:root {
  --blue: #234095;
  --yellow: #f2ea1b;
  --black: #18191f;
  --midblack: #474a57;
  --white: #ffffff;
  --midwhite: #fafafa;
  --grey: #efefef;
}
.blue-bg {
  background-color: var(--blue);
}
.yellow-bg {
  background-color: var(--yellow);
}
.midwhite-bg {
  background-color: var(--midwhite);
}
.white-bg {
  background-color: var(--white);
}
.black-txt {
  color: var(--black);
}
.midblack-txt {
  color: var(--midblack);
}
.blue-txt {
  color: var(--blue);
}
.yellow-txt {
  color: var(--yellow);
}
.black-txt {
  color: var(--black);
}
.white-txt {
  color: var(--midwhite);
}
.sec-white-txt {
  color: var(--grey);
}

.metro-400 {
  font-family: metropolis-400;
}
.metro-600 {
  font-family: graphik-600;
}
.hfont-800 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.hfont-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.hfont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.hero {
  width: 20rem;
}
.icon {
  width: 12rem;
}
